/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
.error{
    background: #A90329;
    color: #fff;
}
.icon-success{
    color: #739e73;
}
.smart-form  .select2-selection__choice{
    margin: 4px 0 3px 5px ;
    padding: 1px 28px 1px 8px ;
}
.smart-form  .select2-selection__choice span{
    padding: 3px 4px 3px 6px;
    box-sizing: border-box;

}
.editarea{
    margin-top: 25px;
    padding: 0 15px;
}
.editarea ul{
    padding-left: 40px
}